/*
 * Base Styles
 */
html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Archivo', sans-serif;
  font-size: 24px;
}

/*
 * Lists
 */
.todo-lists__items {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.todo-lists__item {
  padding: 20px;
}

.todo-lists__item--active {
  background-color: #f4efff;
}

.todo-lists__item:hover {
  cursor: pointer;
  background-color: #e2d6ff;
}

.todo-lists__item-icon {
  margin-right: 10px;
}

/*
 * Page
 */

.todo-list__container {
  width: 95vw;
  height: 95vh;
  overflow: auto;

  display: flex;

  -webkit-box-shadow: -1px -1px 19px 9px rgba(186,186,186,0.6);
  -moz-box-shadow: -1px -1px 19px 9px rgba(186,186,186,0.6);
  box-shadow: -1px -1px 19px 9px rgba(186,186,186,0.6);
}

.todo-list__header {
  background: url('../img/background.jpg') center no-repeat;
  background-size: cover;
}

.todo-list__lists {
  flex: 1;
  padding: 25px;

  -webkit-box-shadow: 5px 0px 4px -1px rgba(145,139,139,0.7); 
  box-shadow: 5px 0px 4px -1px rgba(145,139,139,0.7);
}

.todo-list__display-items {
  flex: 2;
}

.todo-list__user-info {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.todo-list__user-avatar {
  border-radius: 50%;
  width: 80px;
  margin-right: 25px;
}
