body {
  padding-top: 50px;
}

.jumbotron {
  margin-top: 50px;
}

.main-container {
  margin: 50px auto;
}

footer {
  background: #f4f4f4;
  text-align: center;
  padding: 40px;
}

a {
  color: #00B7FF;
}
